:root {
  --red: #bf1313;
  --blue: #00a1e4;
  --dark: #272727;
  --gray: #696773;
  --light: #eff1f3;

  --hue: 28.28;
  --gradient-chroma: 0.201;
  --gradient-lightness: 51.18%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

hr,
img {
  box-sizing: content-box;
}

html {
  background: var(--dark);
  min-height: 100vh;
  scroll-behavior: smooth;
}

html,
body {
  overscroll-behavior-y: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  line-height: 1.375;
  font-family: var(--font-nunito), var(--font-overpass), sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  margin: 0 auto;
  line-height: 1;
  color: var(--light);
}

h1 {
  font-size: 12.5rem;
  font-family: var(--font-overpass), sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  margin: 0 auto 1rem;
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--light);
}

@media print {
  nav,
  footer,
  [data-print-hide] {
    display: none !important;
  }

  html {
    background: white !important;
    background-image: none !important;
  }

  body {
    color: var(--dark) !important;
    background: white !important;
    font-weight: 400;
    width: 100% !important;
  }

  main {
    height: auto !important;
    overflow: visible !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
  }

  h1,
  h2,
  h3 {
    color: var(--dark);
  }

  p {
    color: var(--dark);
  }

  @page {
    margin: 1.5cm;
    size: A4;
  }
}
